*.[ch] -crlf
*.cpp -crlf
*.java -crlf
*.groovy -crlf
*.html -crlf
Makefile -crlf
*.cfg -crlf
*.dsp -crlf
*.launch -crlf
.gitignore -crlf
.gitattributes -crlf
.project -crlf
.classpath -crlf
*.sln -crlf
*.vcproj -crlf
*.nsi -crlf
*.rc -crlf
