#Makefile
*.o
*.a
*.so
*.dll
*.class
*.Po
*.lib
*.cache/
.deps/
scratch/
config.log
config.status
sauer_client
sauer_server
cmd
Debug
Release
CVS
P2PMud-sauerbraten/launchers/Plexus.launch
*.pdb
*.ncb
Thumbs.db
